<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<modules>
            <remove name="WebDAVModule" />
        </modules>
  <handlers>   
   <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrador\AppData\Local\Programs\Python\Python37\python.exe|C:\Users\Administrador\AppData\Local\Programs\Python\Python37\Lib\site-packages\wfastcgi-3.0.0-py3.7.egg\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
  </handlers>
        <directoryBrowse enabled="true" />
       
</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="myapp.app" />
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\bits" />
</appSettings>
</configuration>